---
import { Image } from "astro:assets";
import logoBlack from "/src/assets/logo-black.png";
import logoWhite from "/src/assets/logo-white.png";
---

<nav
    class="navbar-bg fixed top-0 left-0 right-0 z-50 w-full px-4 py-2 flex items-center transition-all duration-75 ease-out"
>
    <a href="/" class="flex items-center relative">
        <Image
            src={logoBlack}
            alt="KDMS"
            class="logo-black h-24 w-auto transition-opacity duration-300"
        />
        <Image
            src={logoWhite}
            alt="KDMS"
            class="logo-white h-24 w-auto transition-opacity duration-300 opacity-0 absolute left-0 top-0"
        />
    </a>

    <div
        class="nav-links w-full max-w-5xl px-8 grid grid-cols-4 items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
        <div class="justify-self-center">
            <a
                href="/"
                class="nav-link text-black text-lg font-medium transition-colors duration-300 no-underline relative group"
            >
                Accueil
                <span
                    class="absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full"
                ></span>
            </a>
        </div>
        <div class="justify-self-center">
            <a
                href="/404"
                class="nav-link text-black text-lg font-medium transition-colors duration-300 no-underline relative group"
            >
                Notre Savoir Faire
                <span
                    class="absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full"
                ></span>
            </a>
        </div>

        <div class="justify-self-center">
            <a
                href="/404"
                class="nav-link text-black text-lg font-medium transition-colors duration-300 no-underline relative group"
            >
                Nos Réalisations
                <span
                    class="absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full"
                ></span>
            </a>
        </div>

        <div class="justify-self-center">
            <a
                href="/404"
                class="nav-link text-black text-lg font-medium transition-colors duration-300 no-underline relative group"
            >
                Contact
                <span
                    class="absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 group-hover:w-full"
                ></span>
            </a>
        </div>
    </div>
</nav>
